SECRET_KEY=your-secret-key-here
ALLOWED_ORIGINS=["http://localhost:3000"]

# either DB URL or individual DB connection parameters can be used
# there is precendence for raw database url if both are provided
RAW_DATABASE_URL=

DB_HOST=localhost
DB_PORT=5432
DB_USER=your-db-user
DB_PASSWORD=your-db-password
DB_NAME=your-db-name

# same as postgres
RAW_REDIS_URL=redis://default:your-redis-password@localhost:6379
#pick one
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

NOMBA_CLIENT_ID=your-nomba-client-id
NOMBA_CLIENT_SECRET=your-nomba-client-secret
NOMBA_ACCOUNT_ID=your-nomba-account-id
NOMBA_SANDBOX_URL=https://sandbox.api.nomba.com/v1
NOMBA_PRODUCTION_URL=https://api.nomba.com/v1
NOMBA_WEBHOOK_SECRET=your-nomba-webhook-secret
